<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.tymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Spring Boot 3</title>
  </head>
  <body>
    <div th:replace="~{/layout/fragments::pageHeader('부서 목록')}"></div>
    <table>
      <thead>
        <tr>
          <th>부서 번호</th>
          <th>부서 이름</th>
          <th>부서 담당자</th>
          <th>부서 지역</th>
        </tr>
      </thead>
      <tbody>
        <tr th:each=" dept : ${deptList}" th:object="${dept}">
          <td>
            <a th:text="*{id}" th:href="@{/department/detail/} + *{id}"></a>
          </td>
          <td>
            <a
              th:text="*{departmentName}"
              th:href="@{/department/detail/} + *{id}"
            ></a>
          </td>
          <td>
            <a
              th:text="*{employee?.firstName ?: ''} +' '+ *{employee?.lastName ?: ''}"
              th:href="@{/employee/detail/} + *{employee?.id ?: ''}"
            ></a>
          </td>
          <td th:text="*{location.city}"></td>
        </tr>
      </tbody>
    </table>
  </body>
</html>
