<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.tymeleaf.org">
  <head>
    <th:block th:replace="~{/layout/fragments :: documentHeader}"></th:block>
    <style>
      .custom-table {
        background-color: #f9f9f9;
        border: 1px solid #dee2e6;
      }
      .custom-table th {
        background-color: #343a40;
        color: white;
      }
      .custom-table tr:hover {
        background-color: #e9ecef;
      }
    </style>
  </head>
  <body>
    <div th:replace="~{/layout/fragments::pageHeader('로그 목록')}"></div>
    <table
      class="table table-striped table-bordered table-hover table-sm custom-table"
    >
      <thead>
        <tr>
          <h3 class="text-center mt-3">엔티티로 뽑아낸 데이터</h3>
        </tr>
        <tr>
          <th>아이디</th>
          <th>입사일</th>
          <th>퇴사일</th>
          <th>직무</th>
          <th>부서</th>
        </tr>
      </thead>
      <tbody>
        <tr th:each=" history : ${jobHistoryList}" th:object="${history}">
          <td th:text="*{employeeId}"></td>
          <td th:text="*{startDate}"></td>
          <td th:text="*{endDate}"></td>
          <td th:text="*{job.id}"></td>
          <td th:text="*{department.departmentName}"></td>
        </tr>
      </tbody>
    </table>
    <hr />
    <table
      class="table table-striped table-bordered table-hover table-sm custom-table"
    >
      <thead>
        <tr>
          <h3 class="text-center mt-3">네이티브 쿼리로 뽑아낸 데이터</h3>
        </tr>
        <tr>
          <th>이름</th>
          <th>입사일</th>
          <th>퇴사일</th>
          <th>직무</th>
          <th>부서명</th>
        </tr>
      </thead>
      <tbody>
        <tr
          th:each=" jobHistoryDto : ${jobHistoryDtos}"
          th:object="${jobHistoryDto}"
        >
          <td th:text="*{fullName}"></td>
          <td th:text="*{startDate}"></td>
          <td th:text="*{endDate}"></td>
          <td th:text="*{jobTitle}"></td>
          <td th:text="*{departmentName}"></td>
        </tr>
      </tbody>
    </table>
  </body>
</html>
