<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Spring Boot 5</title>
    <link rel="stylesheet" th:href="@{/css/login.css}" />
  </head>
  <body>
    <div class="box">
      <div class="form">
        <form th:action="@{/member/login}" method="post">
          <h2>Spring Boot 5</h2>
          <div class="inputBox">
            <input type="text" required="required" name="username" />
            <span>아이디</span>
            <i></i>
          </div>
          <div class="inputBox">
            <input type="password" required="required" name="password" />
            <span>비밀번호</span>
            <i></i>
          </div>
          <div class="links">
            <a href="#">비밀번호를 잊으셨나요?</a>
            <a href="#">회원가입하기</a>
          </div>
          <input type="submit" value="로그인" />
        </form>
      </div>
    </div>
  </body>
</html>
