<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Spring Boot 2</title>
  </head>
  <body>
    <div th:replace="~{/layout/fragments::pageHeader('부서 상세')}"></div>
    <div th:each=" deptEmp : ${deptEmp}" th:object="${deptEmp}">
      <div>
        ===================================<br />
        <span th:text="'아이디 : ' + *{id}"></span><br />
        <span th:text="'이름 : ' + *{ename}"></span><br />
        <span th:text="'직무 : ' + *{job}"></span><br />
        <span th:text="'매니져 : ' + *{manager?.ename ?: ''}"></span>
        <br />
        <span
          th:text="'입사일 : ' + *{#temporals.format(hiredate, 'yyyy-MM-dd HH:mm')}"
        ></span
        ><br />
        <span th:text="'급여 : ' + *{salary}"></span><br />
        <span th:text="'수당 : ' + *{commission ?: '0.0'}"></span><br />
        <span th:text="'부서 : ' + *{department.departmentName}"></span>
      </div>
    </div>
  </body>
</html>
